<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Chef World">
    <meta name="author" content="Nithesh">

    <title>{% block title %}ChefWorld {% endblock title %}</title>
    <!-- css -->
    {% include 'partials/_styles.html' %}

</head>

<body>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="{%static 'javascript/script.js' %}"></script>

    <!-- navigation -->
    {% include 'partials/_navbar.html' %}

    <!-- main content -->
    <div class="container">
        {% block content %}{% endblock content %}
        
        <!-- widgets -->
        {% block widgets %}{% include 'partials/_widgets.html' %}{% endblock widgets %}
    </div>
   
    
    <!-- footer -->
    {% include 'partials/_footer.html' %}