
<!-- Footer -->
<footer class="py-3 bg-secondary">
    <div class="container" align='center'>    
        <div >
          
          <a href="https://www.linkedin.com/in/nithesh-b-2856811ab/">
            <i class="icons fab fa-linkedin-in fa-lg"></i>
          </a>
          <a href="mailto:nitheshheamnth07@gmail.com">
            <i class="icons fas fa-envelope fa-lg #4ca1a3"></i>
          </a>
        </div>
        <p class="m-0 text-center text-white">
            ♥️ChefWorld♥️ by Nithesh
        </p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>